<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Planner</title>
</head>
<body>
    <h1>ISE Planner</h1>
    <form action="/result" method="post">
        <p>Please fill your information:</p>
        <label for="">name</label>
        <input type="text" name="name" id="name">
        <label for="">GPA:</label>
        <input type="number" name="gpa" id="gpa" min="0" max="4" step="any" required>
        <label for="">Part-time hours:</label>
        <input type="number" name="partTimeHours" id="credit" min="0" value="0" required>
        <label for="">Standing:</label>
        <select name="standing" id="standing">
            <option value="orientation">Orientation</option>
            <option value="freshman">freshman</option>
            <option value="sophomore">Sophomore</option>
            <option value="junior">Junior</option>
            <option value="senior">Senior</option>
        </select>
        <br>
        <input type="checkbox" name="summer" id="summer">
        <label for="">The next semester is a summer semester</label>
        <br>
        <label for="">Choose the courses that you are currently taking and courses you have done: </label>
        <fieldset>
            <legend>Courses</legend>
            <% courses.forEach((course) => { %>
                <label for=""><%= course %> </label>
                <input type="checkbox" name="course" value="<%= course %>" id="">
            <% }) %>
        </fieldset>
        <button type="submit">Submit</button>
    </form>
</body>
</html>