<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Planner</title>
</head>
<body>
    <h1>Result</h1>
    <p>These are possible plans for next semester ordered from easiest to hardest</p>
    <div>
        <% result.forEach((res) => { %>
            <fieldset>
                <strong>Courses:</strong>
                <ul>
                    <% res.table.forEach((t) => { %>
                        <li> <p><%= t.name %>: <%= t.credit %> </p> </li>
                    <% }) %>
                </ul>
                <p>
                    <strong>Total Credit: </strong>
                    <%= res.credit %>
                </p>
            </fieldset>
        <% }) %>
    </div>
</body>
</html>